@font-face {
    font-family: 'Noto Sans Regular';
    src: url('/NotoSans-Regular.ttf');
}

html, body {
    background-color: rgb(27,27,27);
    color: whitesmoke;
    font-family: 'Noto Sans Regular',sans-serif;
    font-size: 11pt;
    max-width: 100%;
    overflow-x: hidden;
	margin: 0 0 0 0;
	background-image: url("https://i.postimg.cc/4NbthbBR/whitepineforest2.jpg"),url("whitepineforest2.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.pad {
	margin: .2em;
}

#infoCnt {
	margin: .5em;
	color: #dbdbdb;
}

#cnt {
    width: 1000px;
    min-height: 1200px;
    border: 2px solid black;
	background-color: rgba(40,44,48,0.9) !important;
    margin: 0 auto 0 auto;
}

.logoBanner {
	content: url("/logo-dark.png");
	width: 100%;
    margin: 0;
}

img {
    display: block;
    margin: .5em auto 0 auto;
}

.captchaImage {
    margin: 2px 2px 0 2px;
	display: none;
}

#captchaRefreshButton {
	display: none;
	margin-left: .3em;
}

#captchaInput {
	background-color: #323232;
	color: white;
	outline: none;
	font-size: inherit;
}

#captchaWarning {
	color: whitesmoke;
	display: block;
	margin: .1em 0 .2em 0;
}

.indexListBox {
	margin: .5em;
	display: grid;
	grid-template-columns: 4.7fr 1fr;
	border-left: 1px solid #5A6E5A;
	border-top: 1px solid #5A6E5A;
    padding: .2em .5em .2em .5em;
	overflow-wrap: break-word;
}

.indexListBox a {
	text-decoration: none;
	color: #dbdbdb;
	padding: 2px;
	display: block;
	overflow-wrap: break-word;
}

.indexListBox a:hover {
	color: #809480;
}

.indexList {
	color: whitesmoke;
}

.indexDate {
    font-size: 10pt;
    color: #dbdbdb;
    margin: 2px 0 2px 0;
    display: block;
	border-left: 1px solid #5A6E5A;
	padding-left: 1em;
}

.navBar {
    background-color: #4B5F4B;
    margin: 0 0 1em 0;
    padding: 2px 0 2px 0;
    width: 100%;
    display: table;
}

.navBar a {
    margin: 0 .5em 1em .5em;
    color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
}

.navBar a:hover {
    color: #809480;
}

.leftNavItems {
	float: right;
}

.updown {
	display: block;
	float: right;
	margin: 0 .5em 0 0;
	cursor: pointer;
}

#warning {
	display: none;
	margin: 7px;
	color: yellow;
}

#currentDate {
	color: whitesmoke;
	display: block;
}

#serverTime {
	margin: 0 0 0 0.5em;
}

.catagory {
    font-family: inherit;
    font-size: inherit;
    margin: 0 .5em 0 .5em;
	padding: .1em .3em .1em .3em;
	color: whitesmoke;
	background-color: #4B5F4B;
}

.catagoryLink {
    text-decoration: none;
    color: whitesmoke;
    font-family: inherit;
    font-size: inherit;
	margin-left: .1em;
}

.catagoryLink:hover {
    color: #809480;
}

.dropdown {
	position: relative;
	display: inline-block;
}
  
#dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	bottom: 100%;
	right: 0;
}
  
#dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

#dropdown-content a:hover {
	background-color: #e8e8e8;
}
  
#replyForm {
    background-color: #4B5F4B;
    color: whitesmoke;
    margin: 1em .5em 1em .5em;
    padding: 0 .7em .3em .5em;
    display: none;
    border: 1px solid black;
}

textarea {
    background-color: #323232;
    color: #dbdbdb;
    width: 100%;
    height: 15rem;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid black;
	outline: none;
	box-sizing: border-box;
}

.submitButton {
    float: right;
}

.captchaCnt {
	display: flex;
	cursor: pointer;
}

.captchaCnt:a {
	text-decoration: none;
	cursor: pointer;
}

.mediaButtonCnt{
	margin: 0 auto 0 auto;
	display: flex;
	float: right;
	cursor: pointer;
}

.mediaButtonCnt a {
	text-decoration: none;
	cursor: pointer;
	margin-left: .5em;
}

.quote {
	background-color: #4C4C4C;
	padding: 5px;
}

.urlText {
	display: block;
	font-size: 8pt;
}

.CC {
    display: table;
    border-left: 2px solid #5A6E5A;
	border-bottom: 2px solid #5A6E5A;
	border-right: 2px solid #5A6E5A;
    margin: 0;
    overflow-wrap: break-word;
	background-color: #373737;
}

.comment {
    display: table;
    border-left: 2px solid #5A6E5A;
	border-bottom: 2px solid #5A6E5A;
	border-right: 2px solid #5A6E5A;
    margin: 0 .5em 1em .5em;
    overflow-wrap: break-word;
	background-color: #373737;
}

.commentItems {
    display: block;
	background-color: #5A6E5A;
}

.commentItems a {
    color: #dbdbdb;
    margin: 0 .3em 0 .5em;
	cursor: pointer;
	text-decoration: none;
}

.commentItems a:hover {
	color: #809480;
}

.commentBottom {
	display: flex;
}

.commentBottom a {
	color: #6C806C;
	float: right;
	margin: 0 .5em .2em auto;
	text-decoration: none;
	cursor: pointer;
	font-size: 10pt;
}

.commentBottom a:hover {
	color: #809480;
}

.commentBottom a:visited {
	color: black;
}

.commentImage {
    max-width: 480px;
	max-height: 1000px;
	display: inline-block;
}

.timeStamp {
    color: black;
    margin: 0 .1em 0 .5em;
    float: left;
}

.time {
	display: inline-block;
	margin: 0 0 0 .3em;
	color: #dbdbdb;
}

.indexTime {
	display: inline-block;
	margin: 0;
	color: #dbdbdb;
}

.innerText {
    color: #dbdbdb;
    padding: .5em 1.5em .5em 1.5em;
    display: block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.innerText a {
	color: #809480;
	text-decoration: underline;
}

.innerText a:visited {
	color: #809480;
}

.innerText a:hover {
	color: whitesmoke;
}

#tid {
	font-family: inherit;
	font-size: 10pt;
	color: #dbdbdb;
	margin: 0 .5em 1em .5em;
}

#bottom {
    font-family: inherit;
    font-size: 10pt;
    color: whitesmoke;
    margin: 1em .5em 1em .5em;
	padding: .1em .3em .1em .3em;
	background-color: #4B5F4B;
	text-align: center;
}

#webRingContainer {
	color: #dbdbdb;
	display: block;
	margin: 5px 5px 1em 5px;
	text-align: center;
}

#webRingContainer a {
	color: #dbdbdb;
	margin: 5px;
	text-decoration: none;
}

#webRingContainer a:visited {
	color: #dbdbdb;
}

#webRingContainer a:hover {
	color: #809480;
}

.newThreadButton {
	float: right;
	margin: auto;
	padding: 0 .5em 0 0;
	color: whitesmoke;
}

.newThreadButton a {
	text-decoration: none;
	color: whitesmoke;
	cursor: pointer;
}

.newThreadButton a:hover {
	color: #809480;
}

.newThreadButton a:visited {
	color: whitesmoke;
}

/* mobile compatibility bloat */

@media only screen and (max-device-width: 768px) {
	body {
		margin: 0;
		background-color: rgb(27,27,27);
		background-image: none;
	}
	
	iframe {
		max-width: 100%;
	}
	
	video {
		max-width: 100%;
	}
	
	.pad {
		display: none;
	}

    .commentImage {
        max-width: 100%;
    }

	#replyForm {
		margin: 1em .1em 1em .1em;
	}
	
    #cnt {
        border: none;
        margin: 0;
        width: 100%;
        height: auto;
    }

	#logoCnt {
		display: block;
		background-color: rgb(37,37,37);
	}

    .logoBanner {
        margin: 0;
		width: auto;
		content: url('/logo2.png');
    }

    .navBar {
        /*margin: .1em .1em 1em .1em;*/
        margin: 0 0 1em 0;
        display: flex;
        flex-direction: row; /* display links horizontally */
        flex-wrap: wrap; /* allow links to wrap to next line */
		padding-top: .5em;
		padding-bottom: .5em;
    }

    .navBar a {
        text-decoration: none;
        white-space: nowrap; /* prevent link text from wrapping */
        background-color: #4c5844;
		color: whitesmoke;
        padding: .2em .3em .2em .3em;
		margin: 0 .5em 1em .5em;
        border-radius: 4px;
        border: 1px outset black;
    }
	
	#warning {
		display: none;
	}
	
    .indexListBox {
        margin: .5em .1em 1em .1em;
		display: block;
		grid-template-columns: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #5A6E5A;
    }
	
    .indexList a {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
    }
	
	.indexDate {
		border-left: none;
		padding-left: 0;
		margin: .5em 0 .3em 0;
	}

	.indexTime {
		margin-right: .5em;
	}
	
	.mediaButtonCnt a {
		margin: 0 0 0 1em;
	}

    .comment {
        margin: .5em .1em 1.5em .1em;
		padding-top: 0;
		display: block;
    }
	
	.commentItems {
		font-size: 11pt;
	}
	
    .innerText {
        padding: .5em;
		white-space: pre-wrap;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
    }
	
	.catagory {
		margin: 0 .1em 0 .1em;
	}

    #bottom {
        margin: 0 .1em 1em .1em;
    }
}
