html, body {
    background-color: #4c5844;
    color: whitesmoke;
    font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
    font-size: 11pt;
    max-width: 100%;
    overflow-x: hidden;
	margin: .5em 0 0 0;
}

.pad {
	margin: .2em;
}

#cnt {
    width: 1000px;
    min-height: 1200px;
    border: 2px solid black;
	background-color: #d0d0bc;
    margin: 0 auto 0 auto;
}

.logoBanner {
	width: 100%;
    margin: 0;
}

img {
    display: table;
    margin: .5em auto 0 auto;
}

.captchaImage {
    margin: 2px 2px 0 2px;
	display: none;
}

#captchaRefreshButton {
    display: none;
}

.indexListBox {
	margin: .5em;
	display: block;
	border-left: 2px solid #809480;
	border-top: 2px solid #809480;
    padding: .2em .5em .2em .5em;
	overflow-wrap: break-word;
}

.indexListBox a {
	text-decoration: none;
	color: black;
	padding: 2px;
	display: block;
	overflow-wrap: break-word;
}

.indexList {
	color: black;
}

.indexList a {
    text-decoration: none;
    color: black;
    padding: 2px;
    display: block;
	overflow-wrap: break-word;
}

.indexList a:hover {
    color: #809480;
}

.indexDate {
    font-size: 10pt;
    color: black;
    margin: 2px 0 2px 0;
    display: block;
}

.navBar {
    background-color: #5A6E5A;
    margin: 0 0 1em 0;
    padding: 2px 0 2px 0;
    width: 100%;
    display: table;
}

.navBar a {
    margin: 0 .5em 1em .5em;
    color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
}

.navBar a:hover {
    color: #809480;
}

.leftNavItems {
	float: right;
}

#warning {
	display: none;
	margin: 7px;
	color: red;
}

#currentDate {
	color: whitesmoke;
	display: block;
}

.catagory {
    font-family: inherit;
    font-size: inherit;
    margin: 0 .5em 0 .5em;
	padding: 2px;
	background-color: #5A6E5A;
	color: whitesmoke;
}

.catagory a {
    text-decoration: none;
    color: whitesmoke;
    font-family: inherit;
    font-size: inherit;
}

.catagory a:hover {
    color: #809480;
}


#replyForm {
    background-color: #5A6E5A;
    color: whitesmoke;
    margin: 1em .5em 1em .5em;
    padding: 0 .7em .3em .5em;
    display: block;
    border: 1px solid black;
}

textarea {
    background-color: #d0d0bc;
    color: black;
    width: 100%;
    height: 15rem;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid black;
}

.submitButton {
    float: right;
}

.captchaCnt {
	display: flex;
	cursor: pointer;
}

.captchaCnt:a {
	text-decoration: none;
	cursor: pointer;
}

.mediaButtonCnt{
	margin: 0 auto 0 auto;
	display: flex;
	float: right;
	cursor: pointer;
}

.mediaButtonCnt:a {
	text-decoration: none;
	cursor: pointer;
	margin-left: .2em;
}

.quote {
	background-color: #e5e5da;
	padding: 5px;
}

.comment {
    display: block;
    border-top: 2px solid #809480;
	border-left: 2px solid #809480;
    margin: 0 .5em 1em .5em;
    padding-top: .5em;
    overflow-wrap: break-word;
}

.commentItems {
    display: block;
}

.commentItems a {
    color: black;
    margin: 0 .3em 0 .5em;
	cursor: pointer;
	text-decoration: underline;
}

.commentItems a:hover {
    color: #809480;
}

.commentBottom {
	display: flex;
}

.commentBottom a {
	color: black;
	float: right;
	margin: 0 .5em .2em auto;
	text-decoration: none;
	cursor: pointer;
	font-size: 11pt;
}

.commentBottom a:hover {
	color: #809480;
}

.commentBottom a:visited {
	color: black;
}

.commentImage {
    max-width: 480px;
	max-height: 1000px;
	display: inline-block;
}

.timeStamp {
    color: black;
    margin: 0 0 0 .5em;
    float: left;
}

.innerText {
    color: black;
    padding: .5em 1.5em .5em 1.5em;
    display: block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.innerText a {
	color: #536753;
	text-decoration: underline;
}

.innerText a:visited {
	color: black;
}

.innerText a:hover {
	color: #809480;
}

#tid {
	font-family: inherit;
	font-size: 10pt;
	color: black;
	margin: 0 .5em 1em .5em;
}

#bottom {
    font-family: inherit;
    font-size: 10pt;
    color: whitesmoke;
    margin: 1em .5em 1em .5em;
	padding: 2px;
	background-color: #5A6E5A;
	text-align: center;
}

#webRingContainer {
	color: black;
	display: block;
	margin: 5px;
	text-align: center;
}

#webRingContainer a {
	color: black;
	margin: 5px;
}

#webRingContainer a:visited {
	color: black;
}

.newThreadButton {
	float: right;
	margin: auto;
	padding: 0 .5em 0 0;
}

.newThreadButton a {
	text-decoration: none;
	color: whitesmoke;
	cursor: pointer;
}

.newThreadButton a:hover {
	color: #809480;
}

.newThreadButton a:visited {
	color: black;
}

/* mobile compatibility bloat */

@media screen and (max-width: 500px) {
	body {
		margin: 0;
	}
	
	iframe {
		max-width: 100%;
	}

    .commentImage {
        max-width: 100%;
    }
	
    #cnt {
        border: none;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .logoBanner {
        content: url("/logo2.png");
        margin: 0;
		width: auto;
    }

    .navBar {
        margin: .1em .1em 1em .1em;
        display: flex;
        flex-direction: row; /* display links horizontally */
        flex-wrap: wrap; /* allow links to wrap to next line */
    }

    .navbar a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        white-space: nowrap; /* prevent link text from wrapping */
    }
	
	#warning {
		display: block;
	}
	
    .indexListBox {
        margin: .5em .1em 1em .1em;
    }
	
    .indexList a {
		box-sizing: border-box;
    }

    #replyForm {
        margin: 1em 0 1em 0;
        width: 95%;
    }

    textarea {
        width: 97%;
    }
	
	.mediaButtonCnt a {
		margin: 0 .5em 0 0;
	}

    .comment {
        margin: .5em .1em 1.5em .1em;
		padding-top: 0;
		display: block;
    }
	
	.commentItems {
		font-size: 11pt;
	}
	
    .innerText {
        padding: .5em;
		white-space: pre-wrap;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
    }

    #bottom {
        margin: 0 .1em 1em .1em;
    }
}